*{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-weight: 500;
    font-size: large;
}

button{
    background-color: rgb(185, 196, 214);
}
.ip{
    border-radius: 55em;
}
p{
    text-align: center;
}